<header class="app-header">
  <div class="header-left">
    <%= link_to '＜ 戻る', customer_path(@customer), class: "btn-back" %>
  </div>
  <h1 class="header-title">顧客情報の編集</h1>
  <div class="header-right"></div> 
</header>

<main class="form-main-area">
  <div class="form-card">
    <%= render "form", customer: @customer %>
  </div>
</main>